USE [NguyenGiaDuy_2310900031]
GO
/****** Object:  Table [dbo].[NgdEmployee]    Script Date: 02/07/2025 8:37:52 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NgdEmployee](
	[ngdEmpId] [varchar](20) NOT NULL,
	[ngdEmpName] [nvarchar](100) NULL,
	[ngdEmpLevel] [nvarchar](50) NULL,
	[ngdEmpStartDate] [date] NULL,
	[ngdEmpStatus] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ngdEmpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[NgdEmployee] ([ngdEmpId], [ngdEmpName], [ngdEmpLevel], [ngdEmpStartDate], [ngdEmpStatus]) VALUES (N'2310900031', N'Nguyen Gia Duy', N'K23Cnt3', CAST(N'2000-05-20' AS Date), 1)
INSERT [dbo].[NgdEmployee] ([ngdEmpId], [ngdEmpName], [ngdEmpLevel], [ngdEmpStartDate], [ngdEmpStatus]) VALUES (N'E002', N'Tran Van A', N'K23Cnt2', CAST(N'2001-03-15' AS Date), 1)
INSERT [dbo].[NgdEmployee] ([ngdEmpId], [ngdEmpName], [ngdEmpLevel], [ngdEmpStartDate], [ngdEmpStatus]) VALUES (N'E003', N'Le Thi B', N'K23Cnt1', CAST(N'1999-09-10' AS Date), 0)
GO
