USE [NgdK23CNT3_Ls10_db]
GO
/****** Object:  Table [dbo].[NgdPost]    Script Date: 25/06/2025 5:04:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NgdPost](
	[ngdId] [int] IDENTITY(1,1) NOT NULL,
	[ngdTitle] [nvarchar](100) NULL,
	[ngdImage] [nvarchar](100) NULL,
	[ngdContent] [ntext] NULL,
	[ngdStatus] [bit] NULL,
 CONSTRAINT [PK_NgdPost] PRIMARY KEY CLUSTERED 
(
	[ngdId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[NgdPost] ON 

INSERT [dbo].[NgdPost] ([ngdId], [ngdTitle], [ngdImage], [ngdContent], [ngdStatus]) VALUES (1, N'Nguyen Gia Duy', N'images/Duy1.jpg', N'depzaiso1', 1)
INSERT [dbo].[NgdPost] ([ngdId], [ngdTitle], [ngdImage], [ngdContent], [ngdStatus]) VALUES (2, N'Gioi thieu', N'images/Duy2.jpg', N'depzaiso2', 0)
SET IDENTITY_INSERT [dbo].[NgdPost] OFF
GO
