@{
    ViewData["Title"] = "Thong tin sinh vien";
}
<h1>@ViewData["Title"]</h1>

<div class="alert alert-danger">
    <p>Ma sinh vien:2310900031</p>
    <p>Ho va ten: Nguyen Gia Duy</p>
    <p>Email:duy12345@gmail.com</p>
    <p>Dien thoai:0867740772</p>
    <p>Lop:K23CNT3-Net</p>
</div>
