USE [NguyenGiaDuy_2310900031_DE02]
GO
/****** Object:  Table [dbo].[NgdCatalog]    Script Date: 10/07/2025 5:10:51 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NgdCatalog](
	[ngdCateId] [int] IDENTITY(1,1) NOT NULL,
	[ngdCateName] [nvarchar](100) NULL,
	[ngdCatePrice] [nvarchar](100) NULL,
	[ngdCateQty] [nvarchar](100) NULL,
	[ngdCateActive] [bit] NULL,
 CONSTRAINT [PK_NgdCatalog] PRIMARY KEY CLUSTERED 
(
	[ngdCateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[NgdCatalog] ON 

INSERT [dbo].[NgdCatalog] ([ngdCateId], [ngdCateName], [ngdCatePrice], [ngdCateQty], [ngdCateActive]) VALUES (1, N'Nguyen Gia Duy', N'2310900031', N'K23CNT3', 1)
INSERT [dbo].[NgdCatalog] ([ngdCateId], [ngdCateName], [ngdCatePrice], [ngdCateQty], [ngdCateActive]) VALUES (2, N'Nguyen van a', N'abc', N'xyz', 0)
INSERT [dbo].[NgdCatalog] ([ngdCateId], [ngdCateName], [ngdCatePrice], [ngdCateQty], [ngdCateActive]) VALUES (3, N'Pham tuan anh', N'qwe', N'tyu', 1)
SET IDENTITY_INSERT [dbo].[NgdCatalog] OFF
GO
