@{
    ViewData["Title"] = "Nguyen Gia Duy-Netcore leaning";
}

<div class="text-center">
    <h1 class="display-4">Welcome to <b>Duyhihi</b></h1>
    <p>Learn about <a href="https://www.youtube.com/">Diu Tu be</a>.</p>
</div>
