@{
    ViewData["Title"] = "Thong tin sinh vien";
}
<div class="alert alert-info">
    <h1>@ViewData["Title"]</h1>
    <p>Ma sinh vien:2310900031</p>
    <p>Ho va ten:Nguyen Gia Duy</p>
    <p>Ngay Sinh:08/02/2005</p>
    <p>Email:duy123@gmail.com</p>
    <p>Dien thoai:09876678</p>
    <p>Lop:K23CNT3</p>
</div>
